<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540631513587-kh31t1d6oi7adgsushvaj9vm7a3i6mim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540631513587-kh31t1d6oi7adgsushvaj9vm7a3i6mim</string>
	<key>API_KEY</key>
	<string>AIzaSyBbnKZYLRqLWyVz-30i-wGS2i-84zfRGfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>540631513587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cpc.erpscanner</string>
	<key>PROJECT_ID</key>
	<string>cpcerpscanner</string>
	<key>STORAGE_BUCKET</key>
	<string>cpcerpscanner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540631513587:ios:ab996b0e183f1ce7ccfa86</string>
</dict>
</plist>